<div class="card-competences">
  <div class="competences">
    <h2>Competences</h2>
    <h3>Langages</h3>
    <div class="langages">
      <div class="php">
        <img src="/assets/competences/php.svg" title="PHP" alt="Logo PHP" />
      </div>
      <div class="java">
        <img src="/assets/competences/java.svg" title="Java" alt="Logo Java" />
      </div>
      <div class="python">
        <img
          src="/assets/competences/python.svg"
          title="Python"
          alt="Logo Python"
        />
      </div>
      <div class="js">
        <img
          src="/assets/competences/js.svg"
          title="JavaScript"
          alt="Logo JavaScript"
        />
      </div>
      <div class="sql">
        <img src="/assets/competences/sql.svg" title="SQL" alt="Logo SQL" />
      </div>
    </div>
    <h3>Frameworks/Librairie</h3>
    <div class="frameworks">
      <div class="laravel">
        <img
          src="/assets/frameworks/laravel.svg"
          title="Laravel"
          alt="Logo Laravel"
        />
      </div>
      <div class="django">
        <img
          src="/assets/frameworks/django.svg"
          title="Django"
          alt="Logo Django"
        />
      </div>
      <div class="angular">
        <img
          src="/assets/frameworks/angular.svg"
          title="Angular"
          alt="Logo Angular"
        />
      </div>
    </div>
  </div>
</div>
