<div class="landing-block">
  <div class="landing-presentation">
    <div class="img">
      <img
        src="assets/mev2.png"
        title="Une photo de moi"
        alt="Photo de profil"
      />
    </div>
    <div class="text">
      <p class="hi">Hi, Je suis Cédric</p>
      <p class="description">
        Vous pouvez découvrir tous mes projets en cliquant sur le bouton
        ci-dessous !
      </p>
      <button (click)="onContinue()">
        <span>Mes projets</span>
      </button>
    </div>
  </div>
</div>
<app-competences></app-competences>
